body {font-family: 'Roboto', sans-serif; color: #2E2F42; color: #434455; background-color: #ffffff; margin: 0;}

/*reset*/

ul {list-style-type: none;
margin: 0;
padding-left: 0;}
    
h1, h2, h3, h4, h5, h6, p {margin: 0;}

a {text-decoration: none;}

img {display: block;}

/*common*/

.container {max-width: 1158px;
padding: 0 15px;
margin: 0 auto;}

/*header*/

.page-header{border-bottom: 1px solid #e7e9fc;}

.header-container{
display: flex;
align-items: center;}

.header-nav{
display: flex;
align-items: center;}

.link-logo 
{font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
color: #4d5ae5;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;}

.accent
{color: #2e2f42;}

.nav-list {
display: flex; 
align-items: center;
gap: 40px;}

.contacts-list {
display: flex;
align-items: center;
gap: 40px;}

.header-logo {
padding: 24px 0;
margin-right: 76px;}

.accent-wish
{color: #f4f4fd;}

.link-list 
{display: block;
padding: 24px 0;
color: #2e2f42;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;}

.link-list:hover, .link-list:focus {color: #404bbf;}

.style-contacts
{font-style: normal;
margin-left: auto;}

.link-contacts 
{display: block;
padding: 24px 0;
color: #434455;
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;}

.link-contacts:hover, .link-contacts:focus {color: #404bbf;}

.section {padding-top: 120px; padding-bottom: 120px;}

.about
{background-color: #2e2f42;
padding-top: 188px;
padding-bottom: 188px;}

.page-title 
{box-sizing: border-box; max-width: 496px;
color: #ffffff;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 48px;
margin-left: 316px;}

.button 
{display: block; min-width: 169px; height: 56px; border: none;
color: #ffffff; 
background-color: #4d5ae5; 
font-family: 'Roboto', sans-serif;
font-size: 16px; 
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
cursor: pointer;
padding: 16px 32px;
border-radius: 4px;
margin-left: 480px;}

.button:hover {background-color: #404bbf;}
.button:focus {background-color: #404bbf;}

.section-features {}

.visually-hidden
{position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;}

.features {display: flex;
gap: 24px;}

.list-features {width: calc((100% - 72px) / 4);}

.features-title 
{color: #2e2f42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
margin-bottom: 8px;}

.block-features {}

.features-title-text
{color: #434455;
font-size: 16px;
font-weight: 400;
text-align: left;     
line-height: 1.5;
letter-spacing: 0.02em;}

.section-team
{background-color: #f4f4fd;}

.description
{color: #2e2f42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
margin-bottom: 72px;}

.item {display: flex;
gap: 24px;}

.list-team
{background-color: #ffffff;
width: calc((100% - 3*24px) / 4);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;}

.block-name-team {padding: 32px 0;}

.name-title 
{color: #2e2f42;
background-color: #ffffff;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;}

.name-title-text 
{background-color: #ffffff;
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;}

.section-offer {}

.offer
{color: #2e2f42;
font-size:36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
margin-bottom: 72px;}

.list-offer{display: flex; flex-wrap: wrap; gap: 24px; 
row-gap: 48px;}

.list-offer-content {width: calc((100% - 2 * 24px) / 3);}

.offer-content{box-sizing: border-box; max-width: 360px;
border: 1px solid #e7e9fc;
padding: 32px 16px;
border-top: none;
margin-bottom: 8px;}

.offer-title
{color: #2e2f42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
margin-top: 32px; margin-right: auto; margin-bottom: 8px; margin-left: 16px;}

.offer-title-text
{color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
margin-right: auto; margin-bottom: 32px; margin-left: 16px;}

.wish 
{background-color: #2e2f42; padding-top: 100px; padding-bottom: 100px;}

.wish-container {}

.logo-footer{display: inline-block; margin-bottom: 16px;}

.wish-text
{max-width: 264px;
color:#f4f4fd;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;}
